@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-jetbrains_mono text-foreground;
  }

  body {
    @apply antialiased;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 92.99% 56.11%;
    --destructive-foreground: 210 40% 98%;
    --ring: 220.67 97.83% 36.08%;
    --radius: 0.5rem;

    /* mine */
    --dbgbtn: #3b82f6;
    --dbgbtnHover: #2563eb;
    --dbgbtnPress: #1e3a8a;
  }
  .dark {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 225.45 71.22% 72.75%;
    --primary-foreground: 234.55 17.46% 12.35%;
    --secondary: 0 0% 82.75%;
    --secondary-foreground: 0 0% 20%;
    --accent: 227.73 48.05% 48.58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
  }
}

@layer components {
  .debugger-cycle-btn {
    @apply bg-blue-500 text-white text-sm py-2 px-2 h-10 rounded hover:bg-blue-600 active:bg-blue-900 transition-colors duration-200;
  }
}

@layer components {
  .table-border-color {
    @apply border-gray-800;
  }
}

.underline-fade {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}
.underline-fade::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}
.underline-fade:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-fade-dbgbutton {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}
.underline-fade-dbgbutton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}
.underline-fade-dbgbutton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
